<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="applicants_and_tenants-last_name-<%%VALUE(id)%%>" class=""><%%VALUE(last_name)%%></td>
		<td id="applicants_and_tenants-first_name-<%%VALUE(id)%%>" class=""><%%VALUE(first_name)%%></td>
		<td id="applicants_and_tenants-email-<%%VALUE(id)%%>" class=""><a href="mailto:<%%VALUE(email)%%>" title="<%%VALUE(email)%%>" class="btn btn-default"><i class="glyphicon glyphicon-envelope text-info"></i></a></td>
		<td id="applicants_and_tenants-phone-<%%VALUE(id)%%>" class=""><%%VALUE(phone)%%></td>
		<td id="applicants_and_tenants-birth_date-<%%VALUE(id)%%>" class=""><%%VALUE(birth_date)%%></td>
		<td id="applicants_and_tenants-status-<%%VALUE(id)%%>" class="text-center"><%%VALUE(status)%%></td>
		<td id="applicants_and_tenants-property-<%%VALUE(id)%%>" class=""><%%VALUE(property)%%></td>
		<td id="applicants_and_tenants-unit-<%%VALUE(id)%%>" class=""><%%VALUE(unit)%%></td>
