<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="applicants_and_tenants-last_name-<%%VALUE(id)%%>" class=""><%%VALUE(last_name)%%></td>
		<td id="applicants_and_tenants-first_name-<%%VALUE(id)%%>" class=""><%%VALUE(first_name)%%></td>
		<td id="applicants_and_tenants-email-<%%VALUE(id)%%>" class=""><a href="mailto:<%%VALUE(email)%%>" title="<%%VALUE(email)%%>" class="btn btn-default"><i class="glyphicon glyphicon-envelope text-info"></i></a></td>
		<td id="applicants_and_tenants-phone-<%%VALUE(id)%%>" class=""><%%VALUE(phone)%%></td>
		<td id="applicants_and_tenants-birth_date-<%%VALUE(id)%%>" class=""><%%VALUE(birth_date)%%></td>
		<td id="applicants_and_tenants-status-<%%VALUE(id)%%>" class="text-center"><%%VALUE(status)%%></td>
		<td id="applicants_and_tenants-property-<%%VALUE(id)%%>" class=""><%%VALUE(property)%%></td>
		<td id="applicants_and_tenants-unit-<%%VALUE(id)%%>" class=""><%%VALUE(unit)%%></td>
		<td id="applicants_and_tenants-monthly_rent-<%%VALUE(id)%%>" class="text-right"><%%VALUE(monthly_rent)%%></td>
		<td id="applicants_and_tenants-security_deposit-<%%VALUE(id)%%>" class="text-right"><%%VALUE(security_deposit)%%></td>
		<td id="applicants_and_tenants-other_charges-<%%VALUE(id)%%>" class="text-right"><%%VALUE(other_charges)%%></td>
		<td id="applicants_and_tenants-current_month_rent_status-<%%VALUE(id)%%>" class=""><%%VALUE(current_month_rent_status)%%></td>
		<td id="applicants_and_tenants-total_rent_due-<%%VALUE(id)%%>" class="text-right"><%%VALUE(total_rent_due)%%></td>
