<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="rental_owners-first_name-<%%VALUE(id)%%>" class=""><%%VALUE(first_name)%%></td>
		<td id="rental_owners-last_name-<%%VALUE(id)%%>" class=""><%%VALUE(last_name)%%></td>
		<td id="rental_owners-date_of_birth-<%%VALUE(id)%%>" class=""><%%VALUE(date_of_birth)%%></td>
		<td id="rental_owners-primary_email-<%%VALUE(id)%%>" class=""><a href="mailto:<%%VALUE(primary_email)%%>" title="<%%VALUE(primary_email)%%>" class="btn btn-default"><i class="glyphicon glyphicon-envelope text-info"></i></a></td>
		<td id="rental_owners-phone-<%%VALUE(id)%%>" class=""><%%VALUE(phone)%%></td>
		<td id="rental_owners-country-<%%VALUE(id)%%>" class=""><%%VALUE(country)%%></td>
