<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="residence_and_rental_history-monthly_rent-<%%VALUE(id)%%>" class="text-right"><%%VALUE(monthly_rent)%%></td>
		<td id="residence_and_rental_history-rent_paid-<%%VALUE(id)%%>" class="text-right"><%%VALUE(rent_paid)%%></td>
		<td id="residence_and_rental_history-rent_balance-<%%VALUE(id)%%>" class="text-right"><%%VALUE(rent_balance)%%></td>
		<td id="residence_and_rental_history-rent_reminder-<%%VALUE(id)%%>" class=""><%%VALUE(rent_reminder)%%></td>
		<td id="residence_and_rental_history-late_rent_reminder-<%%VALUE(id)%%>" class=""><%%VALUE(late_rent_reminder)%%></td>
		<td id="residence_and_rental_history-duration_of_residency_from-<%%VALUE(id)%%>" class=""><%%VALUE(duration_of_residency_from)%%></td>
		<td id="residence_and_rental_history-to-<%%VALUE(id)%%>" class=""><%%VALUE(to)%%></td>
		<td id="residence_and_rental_history-reason_for_leaving-<%%VALUE(id)%%>" class=""><%%VALUE(reason_for_leaving)%%></td>
